* {
	box-sizing: border-box;
}

.margin_top_15px {
	margin-top: 15px;
}

.panel {
	display: block;
	padding: 15px;
	border: 1px solid #c0c0c0;
	margin: 52px 0px 0px 32px;
}

label {
	display: inline-block;
	margin-bottom: 5px;
}

.form_group {
	margin: 10px;
}

.btn_primary {
	color: #fff;
	background-color: #0275d8;
	border-color: #0275d8;
}

.input_error {
	color: #DE3330;
	padding: 5px;
}

.bordered_table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.bordered_table tr,th,td {
	border: 1px solid #333;
}

.bordered_table th,td {
	padding: 5px;
}

.bordered_table td {
	word-wrap: break-word;
}

#noFiles {
	color: red;
	font-size: larger;
}

.hyperLink {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.broken {
    background-color: #ffd050;
}

.failed {
    background-color: #fd5a3e;
}

.passed {
    background-color: #97cc64;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}